# Python
__pycache__/
*.pyc
*.pyo
# Virtual Environment
venv/
.venv/
# Docker
# Note: Generally, you don't ignore the Dockerfile or the app, 
# but you might ignore specific local artifacts.


# Terraform ignored files
terraform/
.terraform/
*.tfstate
*.tfstate.*